<!DOCTYPE html>
<html>
  <head>
    <title>Donation Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="testbox">
  <form>
    <fieldset>
        <legend>Make a Donation</legend>
        <div class="colums">
          <div class="item">
            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="fname" />
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname" />
          </div>
          <div class="item">
            <label for="address">Email Address<span>*</span></label>
            <input id="address" type="text"   name="address" />
          </div>
          <div class="item">
            <label for="phone">Phone Number</label>
            <input id="phone" type="tel"   name="phone"/>
          </div>
          <div class="item">
            <label for="city">City</label>
            <input id="city" type="text"   name="city" />
          </div>
          <div class="item">
            <label for="country">Country</label>
            <input id="country" type="text"   name="text" />
          </div>
         <br/>
      <fieldset>
      <legend>Donation Details</legend>
      <div class="colums">
      </div>
      <div class="checkbox">
      <p>May we thank you publicly?</p>
      <label><input type="checkbox"/>No, please keep my information anonymous
      </label>
      </div>
      <div class="item">
      <label for="amount">Donation Amount<span>*</span></label>
      <input id="amount" type="number"   name="amount" />
      </div>
      </fieldset>
      <div class="btn-block">
      <button type="order" href="/">Submit</button>
      </div>
     </div>  


